librabbitmq==1.6.1
simhash==1.7.0
bencode==1.0
setuptools==25.0.0
numpy==1.11.1
python-magic==0.4.12
celery==3.1.23
clang==3.8
asciitree==0.3.2
progressbar==2.3
amqp==1.4.9
redis==2.10.5
redis_py_cluster==1.2.0
# matplotlib==1.5.1
modulegraph==0.12.1
pyelftools==0.23
python-gflags==3.0.6
psutil==4.3.1
protobuf==2.6.1
protobuf-to-dict==0.1.0
GitPython==2.0.7
psycopg2==2.6.2
rarfile==2.8
githubpy==1.1.0
github3.py==0.9.3
uritemplate==3.0.0
uritemplate.py==3.0.2
mechanize==0.2.5
click==6.6
unicodecsv==0.14.1
subprocess32==3.2.7
